* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(87, 87, 87);
}

p {
  font-size: 20;
}

.wrapper {
  margin: 0 auto;
  width: 80%;
}

.img-kitchen {
  width: 150px;
  height: 200px;
  background-image: url(https://image.jimcdn.com/app/cms/image/transf/dimension=182x10000:format=jpg/path/s173d2d220ab404ad/image/i5cf92d74db6c16e3/version/1387118589/image.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  padding-bottom: 10px;
}

.img-lr {
  width: 150px;
  height: 112.3px;
  background-image: url(https://image.jimcdn.com/app/cms/image/transf/dimension=228x10000:format=jpg/path/s173d2d220ab404ad/image/ib68845afb840d013/version/1423381416/image.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  padding-bottom: 10px;
}

.img-hw {
  width: 150px;
  height: 112.3px;
  background-image: url(https://image.jimcdn.com/app/cms/image/transf/dimension=228x10000:format=jpg/path/s173d2d220ab404ad/image/ife4d9527bbc1f38f/version/1377585805/image.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  object-position: top;
}

.title{
  color: #00b460;
}

nav {
  width: 100%;
  height: 100px;
  background-color: rgb(82, 82, 82);
}

ul li {
  list-style: none;
  float: left;
  line-height: 70px;
}

.list li a {
  display: block;
  text-decoration: none;
  font-size: 17px;
  font-family: fantasy;
  color: #00cc6d;
  padding: 0 50px;
}

.list li {
  text-align: center;
}

.list li a:hover {
  color: #00924e;
}
