* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #fff;
}

.wrapper {
  margin: 0 auto;
  width: 98%;
}

.img-kitchen {
  width: 133px;
  height: 178px;
  background-image: url(img/imgkitchen.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  padding-bottom: 10px;
}

.img-lr {
  width: 133px;
  height: 100.3px;
  background-image: url(img/imglr.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  padding-bottom: 10px;
}

.img-hw {
  width: 133px;
  height: 100.3px;
  background-image: url(img/imghw.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  object-position: top;
}

.title{
  color: #00b460;
}

nav {
  width: 100%;
  height: 100px;
  background-color: #DCDCDC;
}

ul li {
  list-style: none;
  float: left;
  line-height: 70px;
}

.list li a {
  display: block;
  text-decoration: none;
  font-size: 13px;
  font-family: fantasy;
  color: #00cc6d;
  padding: 0 33px;
}

.list li {
  text-align: center;
}

.list li a:hover {
  color: #00924e;
}


/* ######################################################################
TABLET
###################################################################### */


@media only screen and (min-width: 768px) {

  * {
    margin: 0;
    padding: 0;
  }

  .wrapper {
    margin: 0 auto;
    width: 90%;
  }

  .img-kitchen {
    width: 163px;
    height: 208px;
    background-image: url(img/imgkitchen.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    padding-bottom: 30px;
  }

  .img-lr {
    width: 163px;
    height: 130.3px;
    background-image: url(img/imglr.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    padding-bottom: 10px;
  }

  .img-hw {
    width: 163px;
    height: 130.3px;
    background-image: url(img/imghw.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    object-position: top;
  }

  .title{
    color: #00b460;
    font-size: 38px;
  }

  nav {
    width: 100%;
    height: 100px;
  }

  ul li {
    list-style: none;
    float: left;
    line-height: 50px;
  }

  .list li a {
    font-size: 22px;
    padding: 0 70px;
  }

}

@media only screen and (min-width: 1200px) {

  * {
    margin: 0;
    padding: 0;
  }

  .wrapper {
    margin: 0 auto;
    width: 80%;
  }

  .img-kitchen {
    width: 183px;
    height: 228px;
    background-image: url(img/imgkitchen.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    padding-bottom: 60px;
  }

  .img-lr {
    width: 183px;
    height: 150.3px;
    background-image: url(img/imglr.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    padding-bottom: 5px;
  }

  .img-hw {
    width: 183px;
    height: 150.3px;
    background-image: url(img/imghw.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    object-position: top;
  }

  .title{
    color: #00b460;
    font-size: 40px;
  }

  nav {
    width: 100%;
    height: 100px;
  }

  ul li {
    list-style: none;
    float: left;
    line-height: 54px;
  }

  .list li a {
    font-size: 25px;
    padding: 0 100px;
  }

}
