/* Reset stylesheet */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}


/* ##################################
My Code
################################## */


* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #fff;
}

.wrapper {
  margin: 0 auto;
  width: 98%;
}


.bg {
  width: 100%;
  height: calc(100% - 100px);
  background-image: url(img/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  z-index: -10;
  position: absolute;
  opacity: 100%;
}

.img-kitchen {
  width: 133px;
  height: 178px;
  background-image: url(img/imgkitchen.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  padding-bottom: 10px;
  z-index: 10;
}

.img-lr {
  width: 133px;
  height: 100.3px;
  background-image: url(img/imglr.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  padding-bottom: 10px;
  z-index: 10;
}

.img-hw {
  width: 133px;
  height: 100.3px;
  background-image: url(img/imghw.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  object-position: top;
  z-index: 10;
}

.title{
  color: #000;
  z-index: 10;
}

nav {
  width: 100%;
  height: 100px;
  background-color: #f;
  z-index: 10;
}

ul li {
  list-style: none;
  float: left;
  line-height: 80px;
  z-index: 10;
}

.list li a {
  display: block;
  text-decoration: none;
  font-size: 13px;
  font-family: fantasy;
  color: #000;
  padding: 0 33px;
  z-index: 10;
}

.list li {
  text-align: center;
  z-index: 10;
}

.list li a:hover {
  color: #1a1a1a;
  z-index: 10;
}

.imgs {
  float: left;
  width: 133px;
  height: 593.59;
  margin: 0px;
  margin-right: 30px;
  z-index: 10;
}

#imgtxt {
  display: inline-block;
  width: 150px;
  font-size: 10px;
  z-index: 10;
}

.wtxt {
  text-align: center;
  font-size: 11.5px;
  text-decoration: underline;
  z-index: 10;
}

.txt {
  font-family: sans-serif;
  color: #000;
  text-shadow: 1px 1px #fff;
}

/* ######################################################################
TABLET
###################################################################### */


@media only screen and (min-width: 768px) {

  * {
    margin: 0;
    padding: 0;
  }

  .wrapper {
    margin: 0 auto;
    width: 90%;
  }

  .img-kitchen {
    width: 163px;
    height: 208px;
    background-image: url(img/imgkitchen.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    padding-bottom: 30px;
  }

  .img-lr {
    width: 163px;
    height: 130.3px;
    background-image: url(img/imglr.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    padding-bottom: 10px;
  }

  .img-hw {
    width: 163px;
    height: 130.3px;
    background-image: url(img/imghw.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    object-position: top;
  }

  .title{
    font-size: 38px;
  }

  nav {
    width: 100%;
    height: 100px;
  }

  ul li {
    list-style: none;
    float: left;
    line-height: 55px;
  }

  .list li a {
    font-size: 22px;
    padding: 0 70px;
  }

  .imgs {
    width: 163px;
  }

  #imgtxt {
    display: inline-block;
    width: 300px;
    font-size: 16px;
  }

  .wtxt {
    text-align: center;
    font-size: 20px;
    text-decoration: underline;
  }

}

@media only screen and (min-width: 1200px) {

  * {
    margin: 0;
    padding: 0;
  }

  .wrapper {
    margin: 0 auto;
    width: 80%;
  }

  .img-kitchen {
    width: 183px;
    height: 228px;
    background-image: url(img/imgkitchen.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    padding-bottom: 60px;
  }

  .img-lr {
    width: 183px;
    height: 150.3px;
    background-image: url(img/imglr.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    padding-bottom: 5px;
  }

  .img-hw {
    width: 183px;
    height: 150.3px;
    background-image: url(img/imghw.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    object-position: top;
  }

  .title{
    font-size: 40px;
  }

  nav {
    width: 100%;
    height: 100px;
  }

  ul li {
    list-style: none;
    float: left;
    line-height: 60px;
  }

  .list li a {
    font-size: 25px;
    padding: 0 100px;
  }

  .imgs {
    width: 183px;
  }

  #imgtxt {
    display: inline-block;
    width: 500px;
    font-size: 22px;
  }

  .wtxt {
    text-align: center;
    font-size: 24px;
    text-decoration: underline;
  }

}
