* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(87, 87, 87);
}

p {
  font-size: 20;
}

.wrapper {
  margin: 0 auto;
  width: 98%;
}

.img-kitchen {
  width: 133px;
  height: 178px;
  background-image: url(img/imgkitchen.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  padding-bottom: 10px;
}

.img-lr {
  width: 133px;
  height: 100.3px;
  background-image: url(img/imglr.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  padding-bottom: 10px;
}

.img-hw {
  width: 133px;
  height: 100.3px;
  background-image: url(img/imghw.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  object-position: top;
}

.title{
  color: #00b460;
}

nav {
  width: 100%;
  height: 100px;
  background-color: rgb(82, 82, 82);
}

ul li {
  list-style: none;
  float: left;
  line-height: 70px;
}

.list li a {
  display: block;
  text-decoration: none;
  font-size: 13px;
  font-family: fantasy;
  color: #00cc6d;
  padding: 0 35px;
}

.list li {
  text-align: center;
}

.list li a:hover {
  color: #00924e;
}
